#parent {
	width: 400px;
	border: 1px solid blue;
}

#child {
	height: 300px;
	border: 1px solid green ;
	margin: 25px;
}

#child2 {
    height: 250px;
	border: 1px solid red ;
	margin: 25px;
}
}