#parent {
	width: 200px;
	border: 1px solid red;
}
#child {
	margin-top:    20px; /* сверху */
	margin-right:  70px; /* справа */
	margin-bottom: 20px; /* снизу */
	margin-left:   70px; /* слева */
	
	height: 100px;
	border: 1px solid green;
}